altgraph==0.17.4
babel==2.16.0
bcrypt==4.2.0
chardet==5.2.0
customtkinter==5.2.2
cx_Logging==3.2.1
darkdetect==0.8.0
et_xmlfile==2.0.0
exceltypes==0.0.2
lief==0.15.1
numpy==2.1.2
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
pefile==2023.2.7
pillow==11.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==308
pywin32-ctypes==0.2.3
reportlab==4.2.5
six==1.16.0
tkcalendar==1.6.1
tzdata==2024.2
